{% extends "message.html" %}

{% block title %}FLOSS: Simulation Runner{% endblock %}
{% block heading %}Simulation status:{% endblock %}
{% block message %}


<p id="status">JavaScript must be enabled, to launch the simulation</p>
<script type="text/javascript">
    document.getElementById("status").innerHTML = "simulation running..."
    var HttpClient = function() {
        this.get = function(aUrl, aCallback) {
            var anHttpRequest = new XMLHttpRequest();
            anHttpRequest.onreadystatechange = function() {
                if (anHttpRequest.readyState == 4){
                    if (anHttpRequest.status == 200) aCallback(anHttpRequest.responseText);
                    else aCallback();
                }
            }

            anHttpRequest.open( "GET", aUrl, true );
            anHttpRequest.send( null );
        }
    }
    var client = new HttpClient();

    client.get('process/{{id}}', function(response="There was a problem with your connection with the server -please re-try") {
        document.getElementById("status").innerHTML = response;
    });
</script>
{% endblock %}
{% block links %}{% endblock %}
